.type-ahead-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

.type-ahead-search-icon-container {
  height: 30px;
  width: 30px;
  display: inline;
  position: absolute;
}

.type-ahead-close-icon-container {
  height: 30px;
  width: 30px;
  display: inline;
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
}

.type-ahead-input {
  width: 80%;
  height: 30px;
  font-size: 16px;
  padding: 5px 60px 5px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  position: relative;
  z-index: 2;
}
.type-ahead-input:focus-visible {
  outline: none;
  border: none;
}

.type-ahead-search-icon {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.type-ahead-close-icon {
  height: 25px;
  width: 25px;
  margin: 7px;
}

.suggestion-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: white;
  margin-top: 2px;
  max-height: 300px;
  overflow: auto;
  position: relative;
  z-index: 2;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
